.body {
    background-color: rgb(128, 224, 250);
}


.head-text {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
    display: flex;
    justify-content: center;
    background-color: greenyellow;
}

.searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

input[type='text'] {
    border: solid 3px;
    border-color: rgb(239, 185, 115);
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    height: 25px;
    margin-bottom: 10px;
}

button[type='button'] {
    border-radius: 10px;
    background-color: rgb(90, 143, 90);
}

.showArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: 5% auto;
    border: solid 3px;
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    background-color: antiquewhite;
    box-shadow: inset;
}

@media screen and (max-width: 768px) {
    .head-text {
        font-size: 250%;
    }

    .searchbox {
        width: 90%;
        max-width: 400px;
    }

    input[type='text'] {
        width: 100%;
        max-width: none;
    }

    .showArea {
        width: 100%;
    }
}
