/* Default styling for larger screens */
.body {
    background-color: rgb(128, 224, 250);
}

.head-text {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
    display: flex;
    justify-content: center;
    background-color: greenyellow;
}

.searchbox {
    display: flex;
    justify-content: center;
    background-color: bisque;
}

input[type='text'] {
    border: solid 3px;
    border-color: rgb(239, 185, 115);
    border-radius: 20px;
    width: 100%; /* Change width to 100% to make it responsive */
    max-width: 400px; /* Set a maximum width */
    height: 25px;
}

button[type='button'] {
    border-radius: 10px;
    background-color: rgb(90, 143, 90);
}

.showArea {
    display: flex;
    justify-content: center;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
    width: 100%; /* Change width to 100% to make it responsive */
    max-width: 400px; /* Set a maximum width */
    height: auto; /* Change height to auto to allow content to dictate height */
    margin: 5% auto; /* Center and adjust margin */
    border: solid 3px;
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    background-color: antiquewhite;
    box-shadow: inset;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .head-text {
        font-size: 250%; /* Adjust font size for smaller screens */
    }

    .searchbox {
        flex-direction: column; /* Stack input and button in a column on smaller screens */
        align-items: center;
    }

    input[type='text'] {
        width: 100%; /* Adjust width for smaller screens */
        max-width: none; /* Remove max-width on smaller screens */
        margin-bottom: 10px; /* Add some space between input and button */
    }
}
